<div class="container__big-card">
    <div class="big-card__photo">
    <img
    src="https://res.cloudinary.com/practicaldev/image/fetch/s--eqHGZ3bJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/lol25tlqcayxwfg7hkec.png"

    height="200px"
    alt="AAA">

    </div>
    <div class="big-card__title">
    <h1><a href="https://github.com/jaoedu" target="_blank">Projeto que estou trabalhabdo atualmente </a></h1>

    </div>
    <div class="big-card__discription">
      <p>
        <a href="https://github.com/jaoedu" target="_blank">
        Aqui você pode conhecer mais dos projetos que trabalhei e que estou trabalhando atualmente, além de poder conhecer as tecnologias que tenho mais afinidade.
        </a>

      </p>
    </div>

</div>
