<div class="container__small-card">
  <div class="container__small-card-content">
     <div class="small-card__photo">
    <img
    src="https://res.cloudinary.com/practicaldev/image/fetch/s--eqHGZ3bJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/lol25tlqcayxwfg7hkec.png"

    alt="AAA">

    </div>
    <div class="small-card__title">
    <h1><a href="https://github.com/jaoedu" target="_blank">Meu portifólio</a></h1>

    </div>

  </div>

<div class="container-small-card-separator">
  <hr>
</div>

</div>


