  .container__small-card{
    margin-bottom: 15px;
    width: 700px;
  }

  .container__small-card-content{
    display: flex;
    flex-direction: row;
  }
  .small-card__photo > img{
    min-width: 200px;
    width: 200px;
    margin-right: 18px;

  }
  .small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-small-card-separator{
    margin-top: 10px;
  }

