<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
    photoCover="https://res.cloudinary.com/practicaldev/image/fetch/s--eqHGZ3bJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/lol25tlqcayxwfg7hkec.png"
    cardTitle="Projeto em que estou trabalhando no momento"
    link="https://github.com/jaoedu"
    cardDiscription=" trata- se de um sistema para um café utilizando java e angular"
    >
  </app-big-card>

  </div>
  <div class="articles-others">
    <app-small-card
    cardTitle="Trabalho na empresa Atos Informática"
    photoCover="https://res.cloudinary.com/practicaldev/image/fetch/s--eqHGZ3bJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/lol25tlqcayxwfg7hkec.png"
    link="https://github.com/jaoedu"


    ></app-small-card>
    <app-small-card
    cardTitle="Trabalho na empresa Atos Informática"
    photoCover="https://res.cloudinary.com/practicaldev/image/fetch/s--eqHGZ3bJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/lol25tlqcayxwfg7hkec.png"
    link="https://github.com/jaoedu"

    ></app-small-card>
    <app-small-card
    cardTitle="Trabalho na empresa Atos Informática"
    photoCover="https://res.cloudinary.com/practicaldev/image/fetch/s--eqHGZ3bJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/lol25tlqcayxwfg7hkec.png"
    link="https://github.com/jaoedu"

    ></app-small-card>


  </div>

</div>

